<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SignIn</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body>
    <%- include("../components/flash.ejs") -%>

        <section class="w-full flex items-center justify-center  h-[100vh] text-white bg-black">
            <div class="w-full md:w-1/2 h-full flex items-center justify-center  flex-col">
                <div class="flex items-center flex-col my-4">
                    <h1 class="text-3xl sm:text-4xl font-bold my-1 text-center">SnapNest</h1>
                </div>
                <p class="text-xl md:text-2xl max-[330px]:px-6 font-bold my-1 text-center">Access your main account</p>
                <p class="text-xs md:text-sm text-[#6878A3]">To use SnapNest, please enter your details</p>

                <form class="flex items-center justify-center flex-col space-y-6 my-6 w-full" action="/user/signup"
                    method="POST">
                    <div class="w-[90%] sm:w-3/5">
                        <label class="mb-1 inline-block" for="username">Username</label>
                        <input type="text" id="username" name="username"
                            class="w-full bg-zinc-200 rounded-md pl-2 text-black focus:outline-none py-2" placeholder="Enter Username" required>
                    </div>
                    <div class="w-[90%] sm:w-3/5">
                        <label class="mb-1 inline-block" for="password">Password</label>
                        <input type="password" id="password" name="password"
                            class="w-full bg-zinc-200 rounded-md pl-2 text-black focus:outline-none py-2" placeholder="Enter Pasword" required>
                    </div>
                    <div class="w-[90%] sm:w-3/5">
                        <button
                            class="bg-white w-full font-semibold hover:bg-black hover:border border-white hover:text-white px-4 py-2 rounded-md text-sm my-4 text-black">Register</button>
                    </div>
                </form>

                <p class="my-6 text-sm text-center">Not Having an account <a class="text-blue-500 hover:underline"
                        href="/user/signup">SignUp</a></p>

            </div>

            <img class="hidden md:block w-full md:w-1/2 h-full object-cover"
                src="/img/image.jpg"
                alt="user_img">
        </section>
</body>

</html>