<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SignUp</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body>

    <section class="w-full flex items-center justify-center h-[100vh] text-white bg-black">
        <div class="w-full md:w-1/2 h-full flex items-center justify-center  flex-col">
            <div class="flex items-center flex-col my-4">
                <h1 class="text-3xl sm:text-4xl font-bold my-1 text-center">SnapNest</h1>
            </div>
            <p class="text-xl md:text-2xl max-[330px]:px-6 font-bold my-1 text-center">Access your main account</p>
            <p class="text-xs md:text-sm text-[#6878A3]">To use SnapNest, please enter your details</p>

            <form action="/user/signin" method="POST" class="w-3/5 flex items-center justify-center flex-col">
                <div class="mb-4 w-full sm:w-full">
                    <label class="mb-1 inline-block" for="name">Name</label>
                    <input type="text" class="w-full text-black bg-zinc-200 rounded-md pl-2 focus:outline-none py-2" name="name"
                        placeholder="Enter Your name" required>
                </div>
                <div class="mb-4 w-full sm:w-full">
                    <label class="mb-1 inline-block" for="name">Username</label>
                    <input type="text" class="w-full text-black bg-zinc-200 rounded-md pl-2 focus:outline-none py-2"
                        name="username" placeholder="Enter Username" required>
                </div>
                <div class="mb-4 w-full sm:w-full">
                    <label class="mb-1 inline-block" for="name">Email</label>
                    <input type="email" class="w-full text-black bg-zinc-200 rounded-md pl-2 focus:outline-none py-2" name="email"
                        placeholder="Enter email" required>
                </div>
                <div class="mb-4 w-full sm:w-full">
                    <label class="mb-1 inline-block" for="name">Password</label>
                    <input type="password" class="w-full text-black bg-zinc-200 rounded-md pl-2 focus:outline-none py-2"
                        name="password" placeholder="Enter password" required>
                </div>
                <div class="w-[90%] sm:w-full">

                    <button
                        class="bg-white w-full font-semibold hover:bg-black hover:border border-white hover:text-white px-4 py-2 rounded-md text-sm my-4 text-black">Register</button>
                </div>
            </form>

            <p class="my-6 text-sm text-center">Already having an account <a class="text-blue-500 hover:underline"
                    href="/user/signin">SignIn</a></p>

        </div>

        <img class="hidden md:block w-full md:w-1/2 h-full object-cover"
            src="/img/image.jpg"
            alt="user_img">
    </section>
</body>

</html>