<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SnapNest</title>
    <style>
        ::-webkit-scrollbar {
            display: none;
        }

        body {
            font-family: 'Montserrat', sans-serif;
        }
    </style>
    <!-- cdn for font  -->
    <link
        href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap"
        rel="stylesheet">
    <!-- cdn for axios  -->
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body class="scroll-smooth">

    <main class="w-full md:flex md:justify-start bg-black text-white h-screen overflow-hidden mx-auto relative">

    <main class="w-full sm:w-[450px] h-dvh overflow-hidden mx-auto relative">

        <%- include("../components/flash.ejs") -%>
        <%- include("../components/Navbar.ejs") -%>
        <%- body %>
    </main>

</body>

</html>